@font-face {
    font-family: DMSerifDisplay_Rgl;
    src: url(assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: JosefinSans_VarFont;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: ShadowsIntoLight_Rgl;
    src: url(assets/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

:root{
    --SCR_WID: 100vw;
    --SCR-HEI: 100vh; 
}

html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#cover {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center; /* control the main axis( with respect to "flex-direction" )*/ 
  align-items: center;  /* control the cross axis( which is prependicular to the main axis ) */
  text-align: center;
  font-size: 2rem;
  background-color: #f5faec;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

#cover.fall{
    transform-origin: left top;
    animation: fall 2.2s ease-in-out forwards;
    /* transform: translateY(100vh); */
    z-index: 0;
}

#cover.blur span{
    transition: 2s ease-in-out;
    filter: blur(30px);
    z-index: 0;
}

#cover.blur{
    transition: 2s ease-in-out;
    opacity: 0;
}

#cover span{
    margin: 3%;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-family: DMSerifDisplay_Rgl;
}

#presentArea{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

#presentArea span{
    transition: 2s ease-in-out;
    width: 0%;
    opacity: 0;
    margin-left: 3%;
    margin-right: 3%;
    user-select: none;
    /* cursor: none; */
}

#presentArea.roll span{
    background-color: #3255a5;
    width: 80%;
    opacity: 100%;
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


@keyframes fall {
    0%{
        transform: translate(0, 0);
    }
    70%{
        transform: translateX(calc(0.40 * var(--SCR_WID))) rotate(20deg) translateY(60vh);
        /* opacity: 70; */
    }
    100%{
        transform: translateX(calc(0.3 * var(--SCR_WID))) rotate(13deg) translateY(110vh);
        opacity: 0;
    }
 
}